<h1>My Blog</h1>
<br />
<%= link_to 'New Blog Post', new_blog_path %> <% @blog.reverse.map do |blog| %>
<h2><%= link_to blog.title, blog_path(blog) %></h2>
<p><%= blog.content[0,20] %>...</p>
<% end %>
